.frame{
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem 1rem 1rem 1rem;
  border-radius: 0.25rem;
  --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  width: 100%;
  margin-top: 1.75rem;
  margin-bottom: 1.75rem;
  margin-left:auto;
}

.login_txt{
    font-size: 1.875rem;
    line-height: 2.25rem;
    font-weight: 700;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #27C690;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
}

.toggle{
    display: flex;
    background-color: #E3FAFB;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    justify-content: space-between;
    border-radius: 0.25rem;
}

.toggle_btn{
    padding: 0.5rem 2rem 0.5rem 2rem;
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    cursor: pointer;
    border-radius: 0.25rem;
    background-color: #E3FAFB;
    border: none;
    color: #27C690;
}

.toggle_btn_active{
    padding: 0.5rem 2rem 0.5rem 2rem;
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    cursor: pointer;
    border-radius: 0.25rem;
    background-color: #27C690;
    border: none;
}

.profile_img{
    height: 5rem;
    width: 5rem;
    margin: 1.5rem 0 0.25rem 0;
    border-width: 2px;
    border-color: black;
    border-radius: 50%;
}

.form{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 2rem;
}

.form_label{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-top: 0.5rem;
    padding-bottom: 0.25rem;
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-weight: 700;;
}

.form_input{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0.5rem 0.75rem;
    background-color: #E3FAFB;
    outline: none;
    border-radius: 0.25rem;
    font-size: 1rem;
    border: none
    
}

.form_error{
    font-size: 0.875rem;
    line-height: 1.25rem;
    --tw-text-opacity: 1;
    color: rgb(239 68 68 / var(--tw-text-opacity));

}

.loading{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.75rem 0;
}

.btn_submit{
    font-size: 1rem;
    line-height: 1.25rem;
    margin-top: 2.5rem;
    background-color: #27C690;
    padding: 0.5rem 0.75rem;
    border-radius: 0.25rem;
    font-weight: 600;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --tw-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
    --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    border: none;
}

.btn_submit:hover{
    background-color: #E3FAFB;
    cursor: pointer;
}

.text{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1rem;
    line-height: 1.5rem;
    padding-top: 1.25rem;
}

.header{
    width:70%;
    min-width: 600px;
    margin: 0 auto;
    border-bottom: 1px solid #E1EAF8;
    text-align: center;
    color : #2FBEF0;
    font-size: 29px;
    padding: 20px 0; 
    font-weight: 700;
}

.button{
    cursor: pointer;
    height: 3rem;
}
.mid{
    width:70%;
    min-width: 600px;
    margin:0 auto;
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 80px;
    padding-top: 10px !important;
}

.left{
    border-right: 1px solid #e6e6e6;
    width:46%;
    padding-right:4%;
}

.left > img{
    width:100%;
    height:400px;
    object-fit: contain;
}

.right{
    width:44%;
    padding: 15px 0 0 4%;
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 1rem 1rem 1rem;
    border-radius: 0.25rem;
    --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    margin-top: 1.75rem;
    margin-bottom: 1.75rem;
    margin-left:auto;
}

.form_container{
    width:100%;
    border:1px solid #e6e6e6;
    border-radius: 8px;
    padding:20px 30px;
}

.form_container > form > div{
    margin: 25px;
}

.form_container > form label{
    font-weight: 300;
}

.form_container > form input{
    border: 1px solid #d9d9d9;
    border-radius: 2px;
    outline: none;
    width: 90%;
    padding:12px 10px;
    margin: 5px 0;
}

.form_container > form input:focus{
    border: 1px solid  #2FBEF0;
    border-radius: 2px;
}

.form_container > form .button{
    width:96%;
    padding: 13px 0;
    margin:10px 0 0;
    font-size: 15px;
    background-color: #2FBEF0;
    color : white;
    border:1px solid #2FBEF0;
    outline: none;
    border-radius: 3px;
}

.line_break{
    border-bottom: 1px solid #e6e6e6;
    width:96%;
    margin:35px 0;
}


.feedback{
    font-size: 13px;
    padding-left: 3px;
    color: red;
}